.photo {
	margin: -9px 0;
	padding: 10px;
	background-color: #fff;
}


.photobuttons {
	float: right;
	margin: 0 0 0.6em 0.5em;
}

.photobuttons #share, .photobuttons #bookmarkContainer {
	float: right;
	margin: 0 0 0 0.5em;
}

#photoDetail {
    width: 100%;
}

.slugline {
    font: 22px/26px Georgia, serif;
    color:#1a1611;
}
